{% extends 'main.html' %}

{% load static %}
{% block content %}

<div class="container">
  
<div class="row"   >
   {% for p in product %}
  <div class="col-sm-2" style="margin-left: 100px; margin-top: 50px;">
    
    <div class="card "   >
      <div class="card-body ">
       
      	<img src="{{p.image.url}}" width="190" height="190">
        <h5 class="card-title">{{p.name}}</h5>
        <p class="card-text">{{p.price}}</p>
        <a href=""  data-product='{{p.id}}' data-action="add" class="btn btn-dark update-cart">Add To Cart</a>
       
      </div>
    </div>
    

  </div>
   {% endfor %}
  

</div>
  
{% endblock content %}